.btnContainer {
  margin-top: 5px;
}

.btnContainer .MuiButtonBase-root {
  margin: 10px;
  width: auto;
  text-transform: capitalize;
}

.MuiDataGrid-columnHeaders {
  background-color: rgb(163, 195, 229);
}

.MuiDataGrid-main {
  background-color: azure;
}

.asterisk {
  color: red;
  margin-left: 3px;
  font-size: smaller;
}

.uploadFile {
  margin: 20px 0px 10px 20px;
}

.previewData label {
  font-weight: bold;
  color: '#3f50b5';
  font-size: 20px;
}